<mtapp:setting
    id="is_active"
    label="<__trans phrase="Activate Plug-in">"
    show_hint="0">
    <input type="checkbox" id="is_active" name="is_active" <TMPL_IF NAME=IS_ACTIVE>checked="checked"</TMPL_IF>/>
</mtapp:setting>

<mtapp:setting
    id="html_template"
    label="<__trans phrase="Template Tag(s)">"
    show_hint="1"
    hint="<__trans phrase="Add new template tags, one per line. Tags will be converted to proper HTML::Template syntax after Movable Type builds the page, but before the page is published. For example, ABCD_* will convert to TMPL_*.">">
    <textarea id="html_template" name="html_template" rows="4" style="width:100%;"><TMPL_VAR NAME=HTML_TEMPLATE></textarea>
</mtapp:setting>